@use "variables" as *;
@use "mixins" as *;


/* ===== Top Button Hover ===== */
@keyframes topBtnBefore{
    0%{
        top: 0;
        transform: translateY(0);
    }

    100%{
        top: -10px;
        transform: translateY(-100%);
    }
}

@keyframes topBtnAfter{
    0%{
        top: 10px;
        transform: transalteY(100%);
    }

    100%{
        top: 0;
        transform: translateY(0);
    }
}


/* ===== fade ===== */
@keyframes fadeLeft{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


/* ===== Text Up (Clip-Path) ===== */
@keyframes textClip{
	0%{ 
        transform: translateY(100%); 
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
    }

	100%{
        transform: translateY(0); 
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


/* ===== Number Counter ===== */
@keyframes counterOdd{
    0%{
        top: 0;
        transform: translateY(0);
    }
    100%{
        top: 1em;
        transform: translateY(-100%);
    }
}

@keyframes counterEven{
    0%{
        top: 1em;
        transform: translateY(-100%);
    }
    100%{
        top: 0;
        transform: translateY(0);
    }
}


/* ===== sub Hero ===== */
@keyframes subHeroBefore {
    0% {
      transform-origin: right;
      transform: translateX(1);
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
}

@keyframes subHeroAfter {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }
    50% {
      transform-origin: left;
      transform: scaleX(1);
    }
    51% {
      transform-origin: right;
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
}