@use "variables" as *;
@use "mixins" as *;

@keyframes counterOdd{
    0%{
        top: 0;
        transform: translateY(0);
    }
    100%{
        top: 1em;
        transform: translateY(-100%);
    }
}

@keyframes counterEven{
    0%{
        top: 1em;
        transform: translateY(-100%);
    }
    100%{
        top: 0;
        transform: translateY(0);
    }
}