@use "variables" as *;
@use "mixins" as *;

/* ===== Common ===== */
#wrap{
    position: relative;
}


/* ===== Inner ===== */
.w1820{
    max-width: calc(1820px + (var(--innerGap) * 2));
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--innerGap);
}

.w1700{
    max-width: calc(1700px + (var(--innerGap) * 2));
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--innerGap);
}


/* ===== Header ===== */
#logo, 
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: calc(var(--headerH) / 2);
    transform: translateY(-50%);
    z-index: 999;
}

#logo{
    mix-blend-mode: difference;
    left: var(--innerGap);

    a{
        display: block;
    }
}

header{
    right: var(--innerGap);

    > *:not(:first-child){
        margin-left: 10px;
    }

    a{        
        font-family: $font-eng;
        font-size: 15px;
        color: #FFF;
    }

    nav{
        background: $color-tit;
        padding: 0 10px;

        .depth01{
            display: flex;

            a{
                height: var(--navH);
                display: inline-flex;
                align-items: center;
                font-weight: 300;
                padding: 0 20px;
            }
        }
    }

    .redBtn{
        height: var(--navH);
        display: inline-flex;
        align-items: center;
        background: $color-main;
        font-weight: 400;
        padding: 0 16px;

        i{
            flex-shrink: 0;
            display: inline-block;
            width: 28px;
            height: 28px;
            margin-right: 10px;
            @include bgContain;

            &.github{
                background-image: url("/img/common/icon_github.svg");
            }
        }
    }

    .menuBtn{
        display: none;
        flex-direction: column;
        justify-content: center;
        width: var(--navH);
        height: var(--navH);
        background: $color-tit;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        padding: 10px;

        span{
            display: block;
            width: 100%;
            height: 1px;
            background: #FFF;

            &:not(:last-child){
                margin-bottom: 6px;
            }
        }
    }
}


/* ===== Footer ===== */
footer{
    background: #000;
    color: #FFF;
    padding: 60px 0;

    .logo{
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding: 50px 0 40px;

        a{
            display: inline-block;

            img{
                height: 40px;
            }
        }
    }

    .flex-box{
        display: flex;
        align-items: flex-end;
    }

    address{
        flex: 1 1 auto;
        padding-right: 50px;

        > *:not(:last-child){
            margin-bottom: 10px;
        }

        dl{
            display: flex;
            font-family: $font-eng;

            dt{
                flex-shrink: 0;
                font-weight: 400;
                padding-right: 10px;
            }
            
            dd{
                flex: 1 1 auto;
                font-weight: 200;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }

    .copyright{
        flex-shrink: 0;
        font-family: $font-eng;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.6);
    }
}