@use "variables" as *;
@use "mixins" as *;

/* ===== Common ===== */
#wrap{
    position: relative;
}

/* ===== Inner ===== */
.w1820{
    max-width: calc(1820px + (var(--innerGap) * 2));
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--innerGap);
}

.w1700{
    max-width: calc(1700px + (var(--innerGap) * 2));
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--innerGap);
}


/* ===== Header ===== */
#logo, 
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: calc(var(--headerH) / 2);
    transform: translateY(-50%);
    z-index: 999;
}

#logo{
    mix-blend-mode: difference;
    left: var(--innerGap);

    a{
        display: flex;
    }

    @include mediaWidth($media1280){
        a{
            img{
                height: 28px;
            }
        }
    }

    @include mediaWidth($media960){
        a{
            img{
                height: 26px;
            }
        }
    }
}

header{
    right: var(--innerGap);

    > *:not(:first-child){
        margin-left: 10px;
    }

    a{        
        font-family: $font-eng;
        font-size: 15px;
        color: #FFF;
    }

    nav{
        background: $color-tit;
        padding: 0 10px;

        .depth01{
            display: flex;

            > li{
                > a{
                    height: var(--navH);
                    display: inline-flex;
                    align-items: center;
                    font-weight: 300;
                    padding: 0 20px;
                    opacity: 0.5;
                    transition-duration: $duration-basic;
                    transition-property: opacity;
                }

                &.on{
                    > a{
                        opacity: 1;
                    }
                }

                @include hover{
                    &:hover{
                        > a{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .redBtn{
        height: var(--navH);
        display: inline-flex;
        align-items: center;
        background: $color-main;
        font-weight: 400;
        padding: 0 16px;

        i{
            flex-shrink: 0;
            display: inline-block;
            width: 28px;
            height: 28px;
            margin-right: 10px;
            @include bgContain;

            &.github{
                background-image: url("/img/common/icon_github.svg");
            }
        }
    }

    .menuBtn{
        display: none;
        flex-direction: column;
        justify-content: center;
        width: var(--navH);
        height: var(--navH);
        background: $color-tit;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        padding: 0 10px;

        span{
            display: block;
            width: 100%;
            height: 2px;
            background: #FFF;
            transition-duration: $duration-basic;

            &:not(:last-child){
                margin-bottom: 5px;
            }

            &:nth-of-type(1),
            &:nth-of-type(3){
                position: relative;
                top: 0;
                transform: translate(0) rotate(0);
                transition-property: top, transform;
            }

            &:nth-of-type(2){
                opacity: 1;
                transition-property: opacity;
            }
        }
    }

    @include mediaWidth($media1280){
        nav{
            padding: 0 5px;
    
            .depth01{    
                a{
                    padding: 0 15px;
                }
            }
        }

        .redBtn{
            padding: 0 12px;
    
            i{
                width: 26px;
                height: 26px;
                margin-right: 7px;
            }
        }
    }

    @include mediaWidth($media640){
        nav{
            display: none;
        }

        .menuBtn{
            display: inline-flex;
        }
    }
}


/* ===== Menu ===== */
#menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 950;
    padding: var(--headerH) var(--innerGap) var(--innerGap);
    pointer-events: none;
    display: none;

    .blank{
        @include absoluteCover;
    }

    .inner{
        height: 100%;
        background: $color-tit;
        position: relative;
        z-index: 10;
        clip-path: inset(0 0 100% 0);
        -webkit-clip-path: inset(0 0 100% 0);
        transition-duration: var(--aosT);
        transition-property: clip-path;

        nav{
            padding: var(--innerGap);
            overflow-x: clip;
            overflow-y: auto;
            -ms-overflow-style: none; 
            overflow-x: clip;

            &::-webkit-scrollbar{
                display: none;
            }

            a{
                display: block;
                font-family: $font-eng;
                font-size: 5.5rem;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.7);
                padding: 15px;
                transition-duration: $duration-basic;
                transition-property: color;
            }

            .depth01{
                > li{
                    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

                    &.on{
                        > a{
                            color: #FFF;
                        }
                    }

                    @include hover{
                        &:hover{
                            > a{
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }
    }

    @include mediaWidth($media640){
        display: block;
    }
}


/* ===== Mobile Menu Open ===== */
body.open{
    overflow: hidden;

    header{
        .menuBtn{
            span{
                &:nth-of-type(1){
                    top: 5px;
                    transform: translateY(100%) rotate(45deg);
                }

                &:nth-of-type(2){
                    opacity: 0;
                }

                &:nth-of-type(3){
                    top: -5px;
                    transform: translateY(-100%) rotate(-45deg);
                }
            }
        }
    }

    #menu{
        pointer-events: auto;

        .inner{
            clip-path: inset(0 0 0 0);
            -webkit-clip-path: inset(0 0 0 0);
        }
    }
}


/* ===== Footer ===== */
footer{
    background: #000;
    color: #FFF;
    padding: 60px 0;

    .logo{
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding: 50px 0 40px;

        a{
            display: inline-block;

            img{
                height: 40px;
            }
        }
    }

    .flex-box{
        display: flex;
        align-items: flex-end;
    }

    address{
        flex: 1 1 auto;
        padding-right: 50px;

        > *:not(:last-child){
            margin-bottom: 10px;
        }

        dl{
            display: flex;
            font-family: $font-eng;

            dt{
                flex-shrink: 0;
                font-weight: 400;
                padding-right: 10px;
            }
            
            dd{
                flex: 1 1 auto;
                font-weight: 200;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }

    .copyright{
        flex-shrink: 0;
        font-family: $font-eng;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.6);
    }

    @include mediaWidth($media1700){
        padding: 50px 0;

        .logo{    
            padding: 40px 0 30px;

            a{
                img{
                    height: 36px;
                }
            }
        }
    }

    @include mediaWidth($media1280){
        font-size: 15px;
        padding: 40px 0;

        .logo{    
            padding: 30px 0 25px;

            a{
                img{
                    height: 32px;
                }
            }
        }

        address{    
            > *:not(:last-child){
                margin-bottom: 7px;
            }
        }
    }

    @include mediaWidth($media960){
        .copyright{
            font-size: 14px;
        }
    }

    @include mediaWidth($media768){
        .logo{
            text-align: center;
        }

        .flex-box{
            flex-direction: column;
            align-items: center;
        }

        address{
            padding: 0;

            dl{
                justify-content: center;

                dd{
                    flex: unset;
                }
            }
        }

        .copyright{
            margin-top: 15px
        }
    }
}


/* ===== Floating ===== */
#floating{
    @include absoluteCover;
    z-index: 900;
    pointer-events: none;

    .float{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 30px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;

        @include mediaWidth($media1700){
            padding: 20px;
        }

        @include mediaWidth($media1280){
            padding: 15px;
        }
    }
}

#top{
    width: 65px;
    height: 65px;
    background: $color-main;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    position: relative;
    opacity: 0;
    transition-duration: $duration-basic;
    transition-property: opacity;

    &.show{
        opacity: 1;
        pointer-events: auto;
    }

    i{
        display: block;
        height: 24px;
        position: relative;
        overflow: hidden;

        &::before,
        &::after{
            content: "";
            display: block;
            height: 100%;
            background-image: url("/img/common/icon_top.svg");
            @include bgContain;
            @include absoluteBlock;
        }

        &::before{
            position: relative;
            top: 0;
            transform: translateY(0);
        }

        &::after{
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            transform: translateY(100%);
        }
    }

    @include hover{
        &:hover{
            i{
                &::before{
                    animation: topBtnBefore $duration-basic both;
                }

                &::after{
                    animation: topBtnAfter $duration-basic both;
                }
            }
        }
    }

    @include mediaWidth($media1700){
        width: 60px;
        height: 60px;

        i{
            height: 22px;
        }
    }

    @include mediaWidth($media1280){
        width: 55px;
        height: 55px;

        i{
            height: 20px;
        }
    }
}