@use "variables" as *;
@use "mixins" as *;

/* ===== Main Common ===== */
:root{
    --sec200: 200px;
    --sec160: 160px;
    --sec120: 120px;
}


/* ===== Hero ===== */
#hero{
    --svgW: 1700;
    --svgH: 159;
    --svgRatio: calc(var(--svgH) / var(--svgW));
    --svgT: calc(var(--headerH) + 100px);
    --svgLR: calc((var(--vw) - var(--svgW) * 1px) / 2);
    --svgInitH: calc((var(--vw) - (var(--svgLR) * 2)) * var(--svgRatio));
    --endT: calc((var(--svgT) + var(--svgInitH)) * var(--down) / 100);
    --endLR: calc(var(--svgLR) * var(--down) / 100);
    position: relative;
    padding-bottom: 100vh;

    .area{
        @include absoluteCover;
    }

    .trigger{
        text-align: center;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;

        .pin{
            height: 100vh;
            padding-inline: var(--endLR);

            .svg{
                flex-shrink: 0;
                display: flex;
                padding-top: var(--svgT);
                position: relative;
                top: var(--upPercent);
                transform: translateY(calc(var(--upPercent) * -1));
            

                svg{
                    width: 100%;
                    height: auto;
                }
            }
    
            .bg{
                height: 100vh;
                padding-top: var(--endT);
                padding-inline: var(--endLR);
                @include absoluteCover;

                > div{
                    width: 100%;
                    height: 100%;
                    background-image: url("../img/main/hero_bg.jpg");
                    @include bgCover;
                    position: relative;

                    &::before{
                        content: "";
                        display: block;
                        height: 100%;
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
                        opacity: calc(var(--up) / 100 * 0.5);
                    }
                }
            }

            &.black{
                .svg path{
                    fill: $color-tit;
                }
            }

            &.white{
                @include absoluteCover;
                clip-path: inset(var(--endT) var(--endLR) 0 var(--endLR));
                -webkit-clip-path: inset(var(--endT) var(--endLR) 0 var(--endLR));
                
                .svg{
                    position: relative;
                    z-index: 100;
                }
            }
        }
    }

    .dummy{
        height: 250vh;
    }
}


/* ===== Hero ===== */
#about{
    padding: var(--sec160) 0 var(--sec200);

    .flex-layout{
        display: flex;
    }

    .title{
        flex-shrink: 0;
        width: 400px;
        padding-right: 100px;

        h2{
            font-family: $font-eng;
            font-size: 20px;
            font-weight: 400;
            color: $color-tit;
        }
    }

    .contents{
        flex: 1 1 auto;

        .text{
            margin-bottom: 80px;

            h3{
                font-size: 36px;
                font-weight: 700;
                color: $color-tit;
                margin-bottom: 30px;
            }

            p{
                font-size: 20px;
                font-weight: 300;
                line-height: 1.7;
                margin-top: 20px;
            }
        }

        .counter-box{
            display: grid;
            grid-template-columns: repeat(3, calc(100% / 3));
            margin: -20px;

            .counter{
                font-family: $font-eng;
                font-size: 8rem;
                font-weight: 400;
                color: $color-tit; 
                line-height: 1;   
                font-variant-numeric: tabular-nums;

                .number{
                    display: inline-flex;
                    position: relative;
                    overflow: hidden;
                    opacity: 1 !important;

                    strong{
                        font-weight: inherit;
                        color: transparent;
                    }

                    .rolling{
                        display: flex;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;

                        > div{
                            display: flex;
                            flex-direction: column;
                            position: relative;

                            &.odd{
                                top: 0;
                                transform: translateY(0);
                            }

                            &.even{
                                top: 1em;
                                transform: translateY(-100%);
                            }
                        }
                    }

                    &.aos-animate{
                        .rolling{
                            > div{
                                &.odd{
                                    animation: counterOdd 2s cubic-bezier(0.16, 1, 0.3, 1) both;
                                }
    
                                &.even{
                                    animation: counterEven 2s cubic-bezier(0.16, 1, 0.3, 1) both;
                                }
                            }
                        }
                    }
                }

                .suffix{
                    font-size: 26px;
                }
            }

            .item{
                margin: 20px;

                dl{
                    font-size: 18px;
                    border-top: 1px solid $color-border;
                    padding-top: 20px;
                    margin-top: 20px;

                    dt{
                        font-family: $font-eng;
                        font-weight: 400;
                    }

                    dd{
                        font-weight: 300;
                        line-height: 1.6;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}


/* ===== Project ===== */
#project{
    // padding-bottom: var(--sec120);

    .area{
        position: relative;
    }

    article{
        --imgW: 480px;
        height: 100vh;
    
        .item{
            display: flex;
            flex-direction: column;
            height: 100vh;
            padding-block: calc(var(--headerH) + 20px) var(--headerH);

            .title{
                flex-shrink: 0;
                display: flex;
                border-bottom: 1px solid $color-text;
                font-family: $font-eng;
                font-size: 16px;
                color: $color-tit;
                padding: 15px 0;
                margin-bottom: 30px;

                .label{
                    flex: 1 1 auto;
                    font-weight: 600;
                }

                .paging{
                    flex-shrink: 0;
                    font-weight: 400;
                }
            }

            .contents{
                flex: 1 1 auto;
                display: grid;
                grid-template-columns: calc(100% - var(--imgW)) var(--imgW);
                grid-template-rows: auto 1fr;

                .skill{
                    font-family: $font-eng;
                    font-size: 15px;
                    font-weight: 400;
                    color: $color-tit;
                    line-height: 1.7;
                }

                .img{
                    figure{
                        display: block;
                        aspect-ratio: 480 / 300;
                    }
                }

                .text{
                    grid-column: auto / span 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    h2{
                        font-size: 6rem;
                        font-weight: 700;
                        color: $color-tit;
                    }

                    p{
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 1.7;
                        margin-top: 10px;
                    }
                }

                .btns{
                    display: flex;
                    gap: 15px;
                    margin-top: 30px;
                }
            }
        }
    }
}